{
    "type": "website",
    "isNegativePathMatch": false,
    "isNegativeFileExtensionMatch": false,
    "hostnames": ${hostnames},
    "filePaths": [
        "/*"
    ],
    "securityPolicy": {
        "policyId": "${policy_id}"
    }
}